body{
    background-image: url("images/MPC3000.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: saturation;
}

main {
    width: 600px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trigger{
    border-style: solid;
    border-color: bisque;
    display: inline-block;
    border-style: solid;
    height: 100%;
    width: 8%;
}
